#Hot_Recommend_Left_Song_RecommentTab{
	width: 660px;
	height: 40px;
	float: left;
	background: #222
}

#Hot_Recommend_Left_Song_RecommentTab{
	width:700px;
	height:200px;
	background:darkred;
}

.Main_Wrap{
	width: 1200px;
	background:rgb(00, 67, 67)
}


.banner_wrap{
	width:100%;
	height:280px;
	background:rgb(138, 138, 138);
	text-align:center;
}

#banner{
	width:1200px;
	height:280px;
	background:rgb(77, 67, 67);
	text-align:center;
	float: left;
}

.topbar_down{
	padding-top: 15px;
	padding-left:100px;
	color:rgb(255, 255, 255);
}


#top_5singLogo{
	left:0%;
	width:125px;
	height:60px;
	float:left;
	position: relative;
	padding-top: 10px;
}

#top_search{
	width:320px;
	height:60px;
	float:left;
	color:rgb(255, 255, 255);
	line-height:10px;
	padding-top: 14px;
}

#search_input{
	width: 262px;
	height: 32px;
	border-radius:16px;
	border:1px solid rgb(255, 255, 255);
	float:right;
}


#top_login{
	width:75px;
	height:60px;
	float:right;
	color:rgb(255, 255, 255);
}


#top_uploap{
	width:75px;
	height:60px;
	float:right;
	color:rgb(255, 255, 255);
}

#top_app{
	width:75px;
	height:60px;
	float:right;
	color:rgb(255, 255, 255);
}


.topbar_down{
	width:100%;
	height: 38px;
	float: left;
	text-align: center;
}


#topbar_down_mune{
	width:58px;
	height: 38px;
	text-align: center;
	background:rgb(0, 0, 0);
	float: left;
	font-size: 14px;
}


.topbar_top{
	width:100%;
	height:60px;
	background:#222;
	text-align:center;
}

.topbar_top_top{
	width:1200px;
	height:58px;
	background:#222;
	margin:0 auto;
	border:1px solid #222;
}




