<style>
    .second{
      text-align:center
    }

/*头部*/
    .head{
        margin:0 auto;
        width:1280px;
        height: 100px;
	  	  background:#000000;
    }

    .second{
        margin:0 auto;
        width:1280px;
        height: 900px;
	  	  background:#878787;
    }

</style>
